<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SeminarNWT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Korisnici", "Index", "Korisniks")</li>
                    <li>@Html.ActionLink("Iznajmljivaci", "Index", "Iznajmljivacs")</li>
                    <li>@Html.ActionLink("Smjestajne jedinice", "Index", "SmjestajnaJedinicas")</li>

                </ul>
                @Html.Partial("_LoginPartial")
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <button type="button" class="btn btn-default" id="botun1">Become a host</button>
                        <button type="button" class="btn btn-default" data-toggle="dropdown">Help</button>
                        <ul class="dropdown-menu ">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                                    </span> <input type="text" placeholder=" How can we help you?">
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Suggested Articles</a></li>
                            <li><a href="#">Getting started guide</a></li>
                            <li><a href="#">Change reservation as host</a></li>
                            <li><a href="#">Paying for reservation</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Help center</a></li>
                        </ul>
                    </div>
                   
                </form>
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
